.fusection5 {
	float: left;
	width: 100%;
	padding: 70px 0px;
	text-align: center;
}

.fusection5 img {
	border: 7px solid #fff;
}

.green_section {
		float: left;
    width: 100%;
    text-align: center;
    padding: 60px 0px 0px 0px;
    background: #7ab700;
}

.features_sec44{
	float: left;
	width: 100%;
	padding: 59px 0px 40px 0px;
}

.fusection9 {
		float: left;
    width: 100%;
    text-align: center;
    padding: 60px 0px 70px 0px;
    background: url('/images/fullbg_mold_dish.jpg');
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.feature_section81 {
  float: left;
  width: 100%;
  padding: 30px 0px 58px 0px;
}

.container_full {
	width: 100%;
	float: left;
	margin: auto auto auto auto;
}

.container_full.slidertop {
	margin-top: -133px;
}

.white {
    color: #fff;
}
