.menu_main {
    float: left;
    width: 100%;
    height: 61px;
    background: url('./assets/opacity1.png') repeat left top;
}

.navbar {
    margin-top: -1px;
}

.yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown {
    position: static;
}

.navbar-default{
	background:none;
	box-shadow: none;
	border: none;
}

.navbar{
	border: none;
	margin-top: 0!important;
}

.navbar-nav>li>a {
  line-height: 25px;
  margin-right: 1px;
  padding-top: 18px;
  padding-bottom: 18px;
  text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background: #7ab700;
}

@media only screen and (max-width: 1169px) and (min-width: 1000px){
  #header .container {
      width: auto;
      max-width: 1000px;
  }
}

@media (max-width: 1208px){
	.navbar-nav>li>a{
		font-size: 12px;
		padding: 15px 10px;
	}
}

@media only screen and (max-width: 999px) and (min-width: 768px){
  .container>.navbar-collapse li a {
  	background-color: #fff!important;
  	margin-left: 1px!important;
  }
  .container{
  	padding: 0;
  	width: 800px;
  }
  .container>.navbar-collapse{
  	margin-left: 0px!important;
  }
  .logo{
  	width: 40%;
  }
  .navbar-nav>li>a{
  	font-size: 9px;
  	padding: 5px;
  }
  ul.nav>li>a.active{
  	color: #777!important;
  }
  .navbar-collapse {
    padding:0!important;
  }
}

@media only screen and (max-width: 999px) and (min-width: 99px){
  li.dropdown ul.dropdown-menu li a {
      color: #777!important;
  }
  .navbar-default{
  	z-index: 999;
  }
  .logo{
  	width: 100%;
  }
  .right_links{
  	display: none;
  }
}
