.footer1{
    background: black;
    float: left;
    width: 100%;
    padding: 70px 0px 40px 0px;
    border-top: 5px solid #000;
    background: url(https://www.moldexbrands.com/images/footer-bg.jpg) repeat left top;
}

body{
    font: 14px 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 23px;
    color: #727272;
}