/*///////////////////////////////////////////////////
	 MENU STYLES FROM MAIN SITE
///////////////////////////////////////////////// */
	
	#trueHeader #logo {
    float: left;
    display: block;
    width: 100%;
    min-height: 70px;
    margin-top: 9px;
    position: relative;
    text-indent: -999em;
    background: url(../images/logo.png) no-repeat left bottom;
}
.logo {
    float: left;
    width: 25%;
}
.logoarea {
    float: left;
    width: 100%;
    height: 84px;
    background: url(../images/opacity2.png) repeat left top;
}

.right_links {
    float: right;
    margin-top: 18px;
}

.right_links ul {
    float: right;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.right_links li {
    float: left;
    font-size: 13px;
    padding: 0px;
}

.cart-image-button {
    display: inline-block;
    float: left;
    margin-top: -5px;
}

.right_links li a {
    color: #999;
}
.right_links li a:hover {
	color: #fff;
}
.right_links li.link {
    float: left;
    font-size: 13px;
    margin-right: 18px;
    margin-top: 1px;
}

.right_links li.social {
    width: 27px;
    height: 27px;
    text-align: center;
    vertical-align: middle;
    line-height: 27px;
    border-radius: 100%;
    background-color: #454545;
    cursor: pointer;
    margin-left: 5px;
}
.right_links li.social i {
	color: #999;
}
.right_links li.social:hover {
	background-color: #999;
}
.right_links li.social:hover i {
	color: #fff;
}

.menu_main {
    float: left;
    width: 100%;
    height: 61px;
    background: url(../images/opacity1.png) repeat left top;
}

.yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown {
    position: static;
}

.navbar-default{
	background:none;
	box-shadow: none;
	border: none;
}

.navbar{
	border: none;
	margin-top: 0!important;
}
.navbar-nav>li>a {
      line-height: 25px;
      margin-right: 1px;
}
@media only screen and (max-width: 1169px) and (min-width: 1000px){
#header .container {
    width: auto;
    max-width: 1000px;
}
}

@media (max-width: 1208px){
	.navbar-nav>li>a{
		font-size: 12px;
		padding: 15px 10px;
	}
}

@media only screen and (max-width: 999px) and (min-width: 768px){
.container>.navbar-collapse li a {
	 background-color: #fff!important;
	margin-left: 1px!important;
	}
.container{
	padding: 0;
	width: 800px;
}
.container>.navbar-collapse{
	margin-left: 0px!important;
}
	.logo{
		width: 40%;
	}
.navbar-nav>li>a{
	font-size: 9px;
	padding: 5px;
}
ul.nav>li>a.active{
	color: #777!important;
}
.navbar-collapse {
    padding:0!important;
}
}

@media only screen and (max-width: 999px) and (min-width: 99px){
li.dropdown ul.dropdown-menu li a {
    color: #777!important;
}
.navbar-default{
	z-index: 999;
}
	.logo{
		width: 100%;
	}
.right_links{
	display: none;
}
}
/*///////////////////////////////////////////////////
	 Load Mobile Styles First
///////////////////////////////////////////////// */


/* General
-------------------------------------------------- */

section{
	padding: 25px 0;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.social{
	text-align: center;
	list-style: none;

}
.social li a {
display: block;
background: #999999;
color: #efefef;
border-radius: 15px;
text-decoration: none;
line-height: 30px;
width: 30px;  
font-size: 18px;
}

.social li {
margin-top:10px;
margin-right: 10px;
float: left;
}

.social li a:hover{
	background: #8ad800;
}

.btn-group-lg>.btn, .btn-lg{
	font-size: 15px;
			padding: 15px;

	}

/* Buttons
-------------------------------------------------- */
.btn{
	font-family: "Raleway";
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .2em;

}
.btn-coal{
	background-color: #5c5b5b;
	color: white;
	border-bottom: 3px solid #424242;
	padding: 1.2em 4.0em;

}

.btn-coal:hover{
	background-color: #424242;
	color: white;
}
.btn-white{
	background: #f3f3f3; /* Old browsers */
	background: -moz-linear-gradient(top,  #fff 0%, #e6e6e6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fff 0%,#e6e6e6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fff 0%,#e6e6e6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
	border-bottom: 3px solid #bababa;

	color: black;
}

.btn-green{
	background-color: #98ec03;
	color: white;
}

.btn-orange{
	background: #ffb000; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffb000 0%, #f86500 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffb000 0%,#f86500 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffb000 0%,#f86500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb000', endColorstr='#f86500',GradientType=0 ); /* IE6-9 */

	color: white;
	border-bottom: 3px solid #783c08;
	padding: 15px;
}

/* Sections
-------------------------------------------------- */
#banner-grouge{
	background-color: rgba(0,0,0,.69);
	color: white;
	text-align: center;
	font-size: 18px;
	padding: 8px 0;
	position: relative;
	top:0;
	width: 100%;
}
.jumbotron{
	padding-top: 0;
}
#grouge-wrapper h2{
	margin: 0;
	font-family: "Open Sans";
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
#grouge-wrapper .btn-orange{
	display: inline-block;
	vertical-align: middle;
	margin-top: 0!important;
}
#grouge-wrapper{
	width: 90%;
	margin: 0 auto;
}
#two{
	background-color: #f6f4f4;
	color: black;
	font-family: "Open Sans";
	line-height: 1.5em;
}

#two hr{
	background-color: black;
	color: black;
	border-color: black;
}

#two h3{
	font-size: 20px;
	font-family: "Raleway";
	font-weight: 700;
}

#two h2{
	font-size: 25px;
	font-family: "Raleway";
	font-weight: 700;
}

#two h5{
	font-size: 14px;
	font-family: "Raleway";
	font-weight: 700;
}

#two p{
	font-size: 19px;
	color: #6f6f6f;
	font-family: "Open Sans";
	line-height: 1.8em;
}
#two img{
	margin: 5px 0;
}

#two .product-image{
	width: 100%;
}

#two ul{
	font-family: "Raleway";
	font-weight: 700;
	padding: 0;
	margin: 0 0 60px 0;
	list-style-position: inside;
	line-height: 2em;
	list-style: none;
	font-size: 15px;
}
#two ul:last-of-type{
	margin-bottom: 25px;
}
#two ul li:before {
    content: "• ";
    color: #7cc10f;
    font-size: 25px;
    vertical-align: middle;
}
#three{
	background-color: white;
	color:#6f6f6f;
	font-family: "Open Sans";
	font-weight: normal;
	font-size: 19px;
	padding-top: 55px;
}

#three h3{
	display: inline-block;
	font-family: "Raleway";
	font-weight: 700;
}

#three h5{
	font-size: 18px;
	font-family: "Raleway";
	font-weight: 700;
	color: black;
}
#four{
	background-color: #424242;
	color: white;
	text-align: center;
}

#four h3{
	font-family: "Open Sans";
	font-weight: 500;
	font-size: 18px;
	line-height: 2.0em;
	text-align: center;
}

#product-grid{
	padding-top:50px;
	}
#product-grid h3{
	font-family: "Raleway";
	font-size: 20px;
	font-weight: 700;
}

#product-grid h5{
	font-family: "Raleway";
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
}

#product-grid .white-bg{
		padding:  15px;
}

#product-grid .text-center img{
	margin: 0 auto;
}

#product-grid .row.no-gutter{
	    box-shadow: 0px 1px 11px #aaaaaa;
	    }

#four .divide{
	border-bottom: 2px solid #fff;
	margin: 0 0 20px 0;
}

#four img{
	margin: 15px auto;
	display: block;
}
/* Jumbotron
-------------------------------------------------- */


body #wrap > .jumbotron{
	margin:0;
	color: white;
	padding-bottom: 0;

}

.jumbotron{
	font-family: 'Raleway';
	color: white;
}

.jumbotron p{
	font-family: "Open Sans";
}
#hero.jumbotron{
	background-color: #89d800;
	background-image: url("../images/hero-bg-mobile.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	
}

.men #hero.jumbotron{
	background-color: #89d800;
	background-image: url("../images/men-hero-mobile.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	
}

#hero.jumbotron h1{
	font-weight: 700;
	font-size: 24px;
	padding-top: 25px;
}
#hero.jumbotron p{
	font-size: 16px;
}
.men #cta.jumbotron{
	background-image: url("../images/cta-hero-men-mobile.jpg");
}
#cta.jumbotron{
	background-color: black;
	background-image: url("../images/cta-bg-mobile.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#cta.jumbotron p{
	font-size: 18px;
}

/* Banner Grouge
	-------------------------------------------------- */
	
#banner-newnew{
	background-image: url("../images/grouge-banner.jpg");
	min-height: 216px;
	text-align: center;
	padding-bottom: 25px;
}
#banner-newnew h5{
	font-family: "Open Sans";
	font-size: 24px;
	font-weight: bold;
	line-height: 2.0em;
	margin-top: 45px;
}

#banner-newnew .btn-orange{
	font-size: 22px;
	word-wrap: break-word;
		font-family: "Raleway";
		white-space: normal;

}
#banner-newnew p{
	font-size: 18px;
	font-family: "Raleway";
	font-weight: bold;
	text-align: center;
}

#banner-newnew .col-md-8{
	text-align: center;
}
#banner-newnew .col-md-4 img{
	margin-left: -49px;
}
/* Footer
-------------------------------------------------- */

#footer{
	background-color: rgba(0,0,0,0.8);
	background-size: cover;
	color: white;
	padding: 25px 0;
	position: relative;
}
#footer:after{
	content: "";
	background: url("../images/green-wood.jpg");
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: -1;

}
#footer a{
	color: white;
}
#footer .navbar-nav {
	width: 100%;
	display: block;
	}
#footer .navbar-nav a:hover{
	background: none;
}

#footer img{
	margin: 0 auto;
}

#footer p{
	font-family: "Open Sans";
	font-size: 13px;
	padding: 20px 0;
}

#footer .social{
	margin-left: calc(50% - 117px);

}
/*///////////////////////////////////////////////////
	 Tablet Styles
///////////////////////////////////////////////// */

@media screen and (min-width: 768px){
	
#banner-newnew{
	text-align: center;
	padding-bottom: 25px;
}


#banner-newnew .col-md-4 img{
	margin-left: -45px;
	height: 198px;
}
/* Jumbotron
-------------------------------------------------- */
	#hero.jumbotron{
    background-color: #89d800;
    background-image: url("../images/hero-bg.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    height: 310px;
	}
	
	.men #hero.jumbotron{
		background-color: #89d800;
/* 		background-image: url("../images/men-hero.jpg"); */
		background-size: cover;
		background-repeat: no-repeat;
	    background-position: 50% 0px;
	    height: 360px;
	}
	
	.men #hero.jumbotron h1{
		margin-top: 0;
	}

	#hero.jumbotron .container{
		width: 823px;
		text-align: center;

	}

	#hero.jumbotron h1{
		font-size: 20px;
		padding-top: 35px;
		margin-top: 5%;
	}
	

	#hero.jumbotron .btn-lg{
		font-size: 14px;
		
	}
	#cta.jumbotron{
		background-color: #89d800;
/* 		background-image: url("../images/cta-bg.jpg"); */
		background-size: cover;
		background-repeat: no-repeat;
	    background-position: center center;
	    height: 420px;
	}
	.men #cta.jumbotron{
		background-color: #89d800;
		background-image: url("../images/cta-hero-mobile.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	    background-position: center center;
	    height: 420px;
	}	
		.men #cta.jumbotron .container{
			padding-top: 70px;
			font-family: "Open Sans";
		}
	#cta.jumbotron .container{
		width: 668px;
		margin-top: 0;
		}
	
	
	#cta.jumbotron .btn{
		margin-top: 15px;
		}
	
	#cta.jumbotron img{
		width: 100%;
	}
/* Sections
-------------------------------------------------- */	
	#product-grid h3{
	font-size: 30px;
	}
	
	#product-grid h5{
	font-size: 20px;
	}
	
	#product-grid .white-bg{
	height: 380px;
	}
	#four .divide{
	border-bottom: none;
	border-right: 2px solid #fff;
	margin: 0;
	}
	
	#four img{
		width: 100%;
	}
	
/* Footer
-------------------------------------------------- */
	#footer ul.navbar-nav li a:hover{
		border-bottom: none;
	}
	
	#footer ul.navbar-nav li a{
		padding: 10px 10px;
	}
	
	#footer p.text-center{
		padding: 0;
		}	
	#footer .navbar-nav {
	width: auto;
	display: block;
	}
}

/*///////////////////////////////////////////////////
	 Small Desktop Styles
///////////////////////////////////////////////// */

@media screen and (min-width: 992px){
	
#banner-newnew .col-md-4 img{
	margin-left: -70px!important;
}	
#four h3, #four p{
	text-align: left;
}		
		/* Jumbotron
		-------------------------------------------------- */
		#hero.jumbotron{
		background-color: #89d800;
		background-image: url("../images/hero-bg.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	    background-position: 50% 0px;
	    height: 516px;
		}
		.men #hero.jumbrotron .container{
		width: 1200px!important;
	}	
		.men #hero.jumbotron{
		background-color: #89d800;
		background-image: url("../images/men-hero.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	    background-position: 50% 0px;
	    height: 516px;
		}
		.men #hero.jumbotron h1{
			margin-top: 80px;
		}	
		#hero.jumbotron h1{
			font-size: 25px;
			text-align: left;
			margin-top: 150px;
		}
		
		#hero.jumbotron p{
			text-align: left;
			font-size: 18px;
		}
		#cta.jumbotron{
		background-color: #89d800;
/* 		background-image: url("../images/cta-bg.jpg"); */
		background-size: cover;
		background-repeat: no-repeat;
	    background-position: center center;
	    height: 516px;
	}
	.men #cta.jumbotron{
		background-color: #89d800;
		background-image: url("../images/cta-hero.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	    background-position: center center;
	    height: 516px;
	}	
		#cta.jumbotron .container .btn-lg{
		margin-top: 10px;
		}
	
		#cta.jumbotron .container{
			width: 1090px;
			margin-top: 100px;
		}
		.men #cta.jumbotron h3{
			font-family: "Open Sans";
		}
		.men #cta.jumbotron .container{
			margin-top: 0;
			padding: 120px;
			width: 90%;
		}
	
		/* Sections
		-------------------------------------------------- */
		#two .product-image{
			width: 150px;
		}
		.men #two .product-image{
			width: 170px;
		}		
		#product-grid .white-bg{
		height: 292px;
		}
		
		#four img{
			width: auto;
		}
		#two .col-md-7 img{
			margin: 0 55px;
		}
		.men #two .col-md-7 img{
			margin: 0 40px;
		}		
		#two img.right{
			float: right;
		}
		
		#two .bg01{
			background-image: url("../images/images/spray-bg_02.png");
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}
		
		.men #two .bg01{
			background-image: url("../images/images/men-product-bg_03.png");
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}
		#two .bg02{
			background-image: url("../images/images/spray-bg_04.png");
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}		
		.men #two .bg02{
			background-image: url("../images/images/men-product-bg_07.png");
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}
		#two .bg03{
			background-image: url("../images/images/spray-bg_08.png");
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}	
		.men #two .bg03{
			background-image: url("../images/images/men-product-bg_11.png");
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}	
		#product-grid .left-arrow:before{
			content: "\f0d9";
			position: absolute;
			left: -15px;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: 50px;
			color: white;
		}
		#product-grid .right-arrow:before{
			content: "\f0da";
			position: absolute;
			right: -15px;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: 50px;
			color: white;
			z-index: 9999;
		}	
		#product-grid .top-arrow:before{
			content: "\f0d8";
			position: absolute;
			top: -31px;
			left: 22px;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: 50px;
			color: white;
			z-index: 999;
		}			
		/* Footer
		-------------------------------------------------- */		
		
		#footer .nav  a{
			font-size: 10px;
			padding: 8px;
	
		}
		
		#footer .social{
			float: right;
		}
		
	}

/*///////////////////////////////////////////////////
	 Desktop Styles
///////////////////////////////////////////////// */

@media screen and (min-width: 1200px){
	
	#four{
text-align: left;
}

			/* Jumbotron
		-------------------------------------------------- */
		#hero.jumbotron{
		background-color: #89d800;
		background-image: url("../images/hero-bg.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	    background-position: 50% 0px;
	    height: 616px;
		}
		.men #hero.jumbotron{
		background-color: #89d800;
		background-image: url("../images/men-hero.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	    background-position: 50% 0px;
	    height: 616px;
		}
		.men #hero.jumbotron h1{
			font-size: 50px;
			margin-top: 50px;
		}	
.men #hero.jumbotron .container{
	width: 1200px;
}
		#hero.jumbotron .container{
			margin: 0 auto;
			padding-top: 50px;
		}
		
		#hero.jumbotron p{
			font-size: 28px;
		}
		
		#cta.jumbotron{
		background-color: #89d800;
		background-image: url("../images/cta-bg.jpg");
		background-size: auto;
		background-repeat: no-repeat;
	    background-position: center center;
	    height: 425px;
	}
	.men #cta.jumbotron{
		background-color: #89d800;
		background-image: url("../images/cta-hero-men.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	    background-position: center center;
	    height: 616px;
	}
	.men #cta.jumbotron .container{
		margin-top: 0;
		width: 958px;
		padding-top: 155px;
	}
	#cta.jumbotron .container{
		margin-top: 35px;
		width: 1090px;
	}
	

	#cta.jumbotron h3{
		font-size: 25px;
		font-family: "Open Sans";
		text-transform: uppercase;
		letter-spacing: 0.2em;
		margin: 20px 0 20px 0;
	}
	
	#cta.jumbotron p{
		font-size: 20px;
		margin-bottom: 20px;
	}
	
	#cta.jumbotron .btn-lg{
		width: 200px;
	}

	/* Sections
		-------------------------------------------------- */
		
		#product-grid .gray-bg img{
			width:100%;
			}
			
		#product-grid .white-bg{
			padding:55px;
			}
	
}
